/* FONT */
body {
    font-family: 'Poppins', sans-serif;
    
}

/* GLASS CARD */
.glass {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* INPUT STYLE */
.input {
    width: 100%;
    padding: 10px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
}

/* BUTTON */
.btn {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background: white;
    color: black;
    font-weight: bold;
    transition: 0.3s;
}

.btn:hover {
    background: #e5e7eb;
}

/* TOAST */
.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 20px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    z-index: 999;
    display: none;
}

.toast.show {
    display: block;
}

.toast.success {
    background: #22c55e;
}

.toast.error {
    background: #ef4444;
}

/* FADE ANIMATION */
.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px);}
    to { opacity: 1; transform: translateY(0);}
}